
 
.countdown {
  width: 99vw;
  height: auto;
  display: block;
  
  background: transparent;
 
}
#timer{
  position:fixed;
  z-index:9999;
  width:100vw;
}

.onlyPhone{
    display: none;
  }

@media only screen and (max-width: 600px) {
  .onlyPhone{
    display: block;
  }
}
